.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    color: white;
  }
  
  .change-password-button {
    display: inline-block;
    background-color: #466eb4;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .update-details-button {
    display: inline-block;
    background-color: #34a1eb;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .user-container .warning {
    color: #ff0000;
  }
  
  @media only screen and (max-width: 600px) {
    .user-container {
      padding: 10px;
    }
    .change-password-button {
      padding: 5px 10px;
      font-size: small;
    }
  }